.header__menu-item, .about__block-group, .about__block-img {
  position: relative;
}

.header__menu-item:hover:after, .about__block-group:hover:after, .about__block-img:hover:after {
  width: 100%;
}

.header__menu-item:after, .about__block-group:after, .about__block-img:after {
  content: " ";
  position: absolute;
  width: 0%;
  height: 1px;
  background: #000;
  left: 0;
  bottom: -7px;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

.intro__subtitle, .about__title {
  font-size: 48px;
  line-height: 61.54px;
  font-weight: 450;
  color: #111;
}

@media (max-width: 1440px) {
  .intro__subtitle, .about__title {
    font-size: 32px;
    line-height: 42.54px;
  }
}

@media (max-width: 425px) {
  .intro__subtitle, .about__title {
    font-size: 20px;
    line-height: 25.64px;
  }
}

.intro__par {
  font-size: 20px;
  line-height: 25.64px;
  font-weight: 400;
  color: #111;
}

@media (max-width: 1440px) {
  .intro__par {
    font-size: 16px;
    line-height: 20.64px;
  }
}

@media (max-width: 425px) {
  .intro__par {
    font-size: 13px;
    line-height: 16.67px;
  }
}

.intro__btn {
  width: 171px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f6f6f6;
  font-size: 20px;
  line-height: 25.56px;
  font-weight: 700;
}

/* Regular - 400 */
@font-face {
  font-family: 'Futura';
  src: url("../fonts/FuturaCyrillicBook.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Medium - 500 */
@font-face {
  font-family: 'Futura';
  src: url("../fonts/FuturaCyrillicMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Bold - 700 */
@font-face {
  font-family: 'Futura';
  src: url("../fonts/FuturaCyrillicBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/*reset*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input {
  background: 0 0;
}

input:-webkit-autofill,
input:-webkit-autofill:focus input:-webkit-autofill,
input:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:focus,
select:-webkit-autofill:hover,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: inset 0 0 0 1000px transparent !important;
  -webkit-transition: background-color 5000s ease-in-out 0s !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*--------------------*/
.header {
  position: relative;
  height: 122px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1024px) {
  .header {
    height: 84px;
  }
}

@media (max-width: 425px) {
  .header {
    height: 52px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__logo-link {
  display: block;
}

@media (max-width: 1024px) {
  .header__logo-img {
    height: 21px;
  }
}

@media (max-width: 425px) {
  .header__logo-img {
    height: 12px;
  }
}

@media (min-width: 1025px) {
  .header__menu {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
}

@media (max-width: 1024px) {
  .header__menu {
    display: none;
  }
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__menu-item:not(:last-child) {
  margin-right: 40px;
}

.header__menu-item:last-child a {
  font-weight: 700 !important;
}

.header__menu-link {
  color: #000;
  font-weight: 500;
  font-size: 16;
  text-transform: uppercase;
}

.header .burger.active .burger__body {
  height: 200px;
}

@media (min-width: 1025px) {
  .header .burger {
    display: none;
  }
}

.header .burger__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  background: transparent;
  cursor: pointer;
}

.header .burger__icon-btn {
  position: relative;
  width: 18px;
  height: 12px;
}

.header .burger__icon-btn span {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ad4844;
}

.header .burger__icon-btn span:nth-child(1) {
  top: 0;
}

.header .burger__icon-btn span:nth-child(2) {
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.header .burger__icon-btn span:nth-child(3) {
  bottom: 0;
}

.header .burger__body {
  position: absolute;
  left: 0;
  top: 84px;
  padding: 0 15px;
  width: 100%;
  height: 0px;
  overflow: hidden;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media (max-width: 425px) {
  .header .burger__body {
    top: 52px;
  }
}

.header .burger__menu {
  padding: 20px 0px;
  background: #ad4844;
}

.header .burger__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .burger__list-item {
  margin-bottom: 15px;
}

.header .burger__list-link {
  font-size: 13px;
  font-weight: 400;
  line-height: 16.67px;
  color: #d8d8d8;
  text-transform: uppercase;
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: none;
}

.popup > h5,
.popup p,
.popup button {
  color: #000;
  font-weight: 450;
  font-size: 31px;
  line-height: 39.74px;
}

@media (max-width: 768px) {
  .popup > h5,
  .popup p,
  .popup button {
    font-size: 24px;
    line-height: 32.74px;
  }
}

.popup__close {
  position: absolute;
  top: 8px;
  right: 20px;
  background: transparent;
}

.popup__val {
  margin-top: auto;
}

.popup__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  border-radius: 8px;
  max-width: 843px;
  max-height: 285px;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 8px 20px 40px;
}

@media (max-width: 768px) {
  .popup__container {
    max-height: 190px;
    padding: 8px 20px;
  }
}

@media (max-width: 425px) {
  .popup__container {
    max-height: 150px;
  }
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding-top: 63px;
}

@media (max-width: 768px) {
  .popup__content {
    padding-top: 30px;
  }
}

@media (max-width: 425px) {
  .popup__content {
    padding-top: 15px;
  }
}

body {
  background: #fff;
  font-family: "Futura";
}

.container {
  max-width: 1634px;
  margin: 0px auto;
  padding: 0 15px;
}

.intro {
  background: #f6f6f6;
}

.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .intro__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.intro__bg {
  max-width: 680px;
  max-height: 867px;
}

@media (max-width: 1024px) {
  .intro__bg {
    max-width: 380px;
  }
}

.intro__bg-img {
  width: 100%;
  height: 100%;
}

@media (min-width: 1025px) {
  .intro__text {
    margin-left: 60px;
  }
}

.intro__group {
  max-width: 655px;
}

.intro__title {
  font-size: 120px;
  line-height: 153.84px;
  text-transform: uppercase;
  font-weight: 450px;
  padding-bottom: 33px;
}

@media (max-width: 1440px) {
  .intro__title {
    font-size: 80px;
    line-height: 78.84px;
    padding-bottom: 6px;
  }
}

@media (max-width: 1024px) {
  .intro__title {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .intro__title {
    font-size: 50px;
    line-height: 58.84px;
  }
}

@media (max-width: 425px) {
  .intro__title {
    display: none;
  }
}

.intro__title span {
  color: #ab303c;
}

.intro__subtitle {
  padding-bottom: 20px;
}

@media (max-width: 1440px) {
  .intro__subtitle {
    padding-bottom: 10px;
  }
}

@media (max-width: 1024px) {
  .intro__subtitle {
    text-align: center;
  }
}

.intro__par {
  padding-bottom: 20px;
}

@media (max-width: 1024px) {
  .intro__par {
    text-align: center;
  }
}

.intro__btn {
  background: #30ab4c;
}

@media (max-width: 1024px) {
  .intro__btn {
    margin: 0px auto;
  }
}

@media (max-width: 425px) {
  .intro__btn {
    display: none;
  }
}

.about {
  padding: 150px 0 120px;
  background: #f6f6f6;
}

@media (max-width: 1440px) {
  .about {
    padding: 60px 0;
  }
}

.about__title {
  position: relative;
  text-align: center;
  padding-bottom: 20px;
}

.about__title:before {
  content: " ";
  position: absolute;
  width: 126px;
  height: 1px;
  background: #111111;
  left: 50%;
  bottom: 0px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 135px;
  gap: 20px;
}

@media (max-width: 1440px) {
  .about__content {
    padding-top: 70px;
  }
}

@media (max-width: 1024px) {
  .about__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 30px;
  }
}

.about__block {
  max-width: 446px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

@media (max-width: 425px) {
  .about__block {
    padding: 0;
  }
}

.about__block-title {
  font-weight: 450;
  font-size: 31px;
  line-height: 39.74px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

@media (max-width: 1440px) {
  .about__block-title {
    font-size: 21px;
  }
}

.about__block-title:before {
  content: " ";
  position: absolute;
  width: 126px;
  height: 1px;
  background: #111111;
  left: 50%;
  bottom: 0px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.about__block-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 25.64px;
  text-align: center;
  padding-bottom: 50px;
}

.about__block-list {
  max-width: 300px;
  margin: 0px auto;
  padding-bottom: 50px;
}

.about__block-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 360px;
  width: 100%;
  margin: auto auto 0;
}

.about__block-group img {
  margin: 0px !important;
  max-width: 48% !important;
}

.about__block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 25.64px;
}

.about__block-item:not(:last-child) {
  margin-bottom: 30px;
}

.about__block-item span {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 46px;
  background: #fff;
  border-radius: 50px;
  font-size: 20px;
  line-height: 25.64px;
  color: #000;
  font-weight: 700;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.about__block-img {
  height: 290px;
  width: 100%;
  max-width: 360px;
  margin: auto auto 0;
  display: block;
}

.about__block-pic {
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.product {
  background: #f6f6f6;
  padding: 120px 0;
}

@media (max-width: 1024px) {
  .product {
    padding: 60px 0;
  }
}

.product__header {
  padding-bottom: 120px;
}

@media (max-width: 1024px) {
  .product__header {
    padding-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .product__header {
    padding-bottom: 30px;
  }
}

@media (max-width: 425px) {
  .product__header {
    padding-bottom: 15px;
  }
}

.product__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 425px) {
  .product__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.product__menu-title {
  font-size: 20px;
  font-weight: 450;
  line-height: 25.64px;
  border: 1px solid #ad4844;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
}

@media (max-width: 425px) {
  .product__menu-title {
    width: 100%;
    text-align: center;
  }
}

.product__menu-btn {
  background: #ad4844;
  width: 127px;
  font-size: 20px;
  line-height: 25.64px;
  color: #f6f6f6;
  font-weight: 700;
}

@media (max-width: 425px) {
  .product__menu-btn {
    height: 46px;
    width: 100%;
  }
}

.product__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 35px 0;
}

@media (max-width: 1024px) {
  .product__wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 30px 3.5%;
  }
}

@media (max-width: 768px) {
  .product__wrapper {
    gap: 15px 4%;
  }
}

.product__item {
  position: relative;
  width: 23%;
  background: #bebebe;
}

@media (max-width: 1024px) {
  .product__item {
    width: 31%;
  }
}

@media (max-width: 768px) {
  .product__item {
    width: 48%;
  }
}

.product__item:before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

.product__item-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #000;
  font-size: 31px;
  line-height: 39.74px;
  font-weight: 450;
}
