$font: "Futura";

%hoverEffect {
    position: relative;
    &:hover {
        &:after {
            width: 100%;
        }
    }
    &:after {
        content: " ";
        position: absolute;
        width: 0%;
        height: 1px;
        background: #000;
        left: 0;
        bottom: -7px;
        transition: 0.4s ease-in;
    }
}

%h2 {
    font-size: 48px;
    line-height: 61.54px;
    font-weight: 450;
    color: #111;
    @media (max-width: 1440px) {
        font-size: 32px;
        line-height: 42.54px;
    }
    @media (max-width: 425px) {
        font-size: 20px;
        line-height: 25.64px;
    }
}

%par {
    font-size: 20px;
    line-height: 25.64px;
    font-weight: 400;
    color: #111;
    @media (max-width: 1440px) {
        font-size: 16px;
        line-height: 20.64px;
    }
    @media (max-width: 425px) {
        font-size: 13px;
        line-height: 16.67px;
    }
}

%btn {
    width: 171px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #f6f6f6;
    font-size: 20px;
    line-height: 25.56px;
    font-weight: 700;
}
